<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutEmploye.php">
<table>
<caption>Ajouter Livreur</caption>
<tr>
<td>CIN</td>
<td><input type="number" name="cin"></td>
</tr>
<tr>
<td>Nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>Prenom</td>
<td><input type="text" name="prenom"></td>
</tr>
<tr>
<td>Telephonne</td>
<td><input type="number" name="telephonne"></td>
</tr>
<tr>
<td>Email</td>
<td><input type="text" name="email"></td>
</tr>
<tr>
<td>Zone</td>
<td><input type="text" name="zone"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTML>